atomicwrites==1.4.0
attrs==20.3.0
click==7.1.2
colorama==0.4.4
coverage==5.3
dnspython==2.0.0
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
-e git+https://github.com/wroobel88/proskell-web-side.git@3356cfdc54d5569c6fd85fa35d516576f87726cd#egg=flaskr
importlib-metadata==3.1.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mongoengine==0.21.0
mypy==0.790
mypy-extensions==0.4.3
packaging==20.7
pluggy==0.13.1
py==1.9.0
pymongo==3.11.1
pyparsing==2.4.7
pytest==6.1.2
six==1.15.0
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.0
